/*Estilos dos containers*/
body{
  position: absolute;
  height: 100%;
  width: 100%;
  margin:0px;
  background-color: #ffffff;
}

#main{
  height: 100%;
}


#background{
  position:fixed;
  height: 100%;
  width: 100%;
  z-index:-2;
}


#usernav{
  position:fixed;
  height:13%;
  width:100%;
  background-color: #142041;
  z-index:2;
}

nav a,nav a:hover{
  color:white;
}

nav > button{
  color:#ffe484;
  left: 10%;
  background-color:#ffe484;
  border-color: #ffe484;
  z-index:2;
}

#nav-row{
  height: 50%;
}

#text-row{
  height: 50%;
  text-align: center;
}

#Text{
  z-index: 1;
}

#Text > h1,#Text > h3{
  color: white;
  text-align: center;
}

#Text button{
  margin-top:20px;
}

.icon{
  position: relative;
  top:10px;
}
